/* ===================================================================
  use Top Page
=================================================================== */
/*_____ font _______________*/
/*_____ color _______________*/
/*_____ font weight _______________*/
/*_____ Mixin _______________*/
@media screen and (min-width: 769px), print {
  /* ===================================================================
    use pc
  =================================================================== */
  header .logo:before {
    content: none;
  }

  .main {
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  /* ===================================================================
    use sp
  =================================================================== */
  header .logo:before {
    content: none;
  }
}