@charset "utf-8";
/* ===================================================================
  common sp.css
=================================================================== */
@import "./_base.scss";

/* ----------------- Reset First ---------------- */
.guide, .guide_lg {
	margin: 0 15px;
	overflow: hidden;
}
.btn_alpha {
	display: block;
}
.break_pc {
	display: none;
}
.break_sp {
	display: block;
}
.f_sp {
	display: block!important;
}
.f_pc {
	display: none!important;
}
img {
	max-width: 100%;
}
.menu {
	/*float: right;*/
	margin: 10px 0px 0 0;
	position: fixed;
	top: 0;
	right: 10px;
	z-index: 9999;

	width: 32px;
	.menu_trigger {
		display: inline-block;
		transition: all .45s;
		position: relative;
		width: 100%;
		height: 25px;
		left: 0;
		text-decoration: none!important;
		& span {
			display: inline-block;
			transition: all .45s;
			position: absolute;
			left: 0;
			height: 4px;
			background-color: $col_black;
			right: 0;
			border-radius: 5px;
			&:nth-of-type(1) {
				animation: menu-bar01 .65s forwards;
				top: 0;
			}
			&:nth-of-type(2) {
				transition: all .25s .05s;
				opacity: 1;
				top: 11px;
			}
			&:nth-of-type(3) {
				animation: menu-bar02 .65s forwards;
				bottom: 0;
			}
		}
	}
	&.active .menu_trigger span {
		background: $col_black;
	}
	&.active .menu_trigger span:nth-of-type(1) {
		animation: active-menu-bar01 .65s forwards;
	}
	&.active .menu_trigger span:nth-of-type(2) {
		opacity: 0;
	}
	&.active .menu_trigger span:nth-of-type(3) {
		animation: active-menu-bar03 .65s forwards;
	}
	@keyframes menu-bar01 {
			0% {
				transform: translateY(8px) rotate(45deg);
			}
			50% {
				transform: translateY(8px) rotate(0);
			}
			100% {
				transform: translateY(0) rotate(0);
			}
		}
		@keyframes menu-bar02 {
			0% {
				transform: translateY(-7px) rotate(-45deg);
			}
			50% {
				transform: translateY(-7px) rotate(0);
			}
			100% {
				transform: translateY(0) rotate(0);
			}
		}
		@keyframes active-menu-bar01 {
			0% {
				transform: translateY(0) rotate(0);
			}
			50% {
				transform: translateY(8px) rotate(0);
			}
			100% {
				transform: translateY(8px) rotate(45deg);
			}
		}
		@keyframes active-menu-bar03 {
			0% {
				transform: translateY(0) rotate(0);
			}
			50% {
				transform: translateY(-13px) rotate(0);
			}
			100% {
				transform: translateY(-13px) rotate(-45deg);
			}
		}
		&.black .menu_trigger span {
			background-color: $col_black;
		}
}

/* ----------------- /. Reset First ---------------- */
.container {
	min-width: 0;
	padding: 0;
	position: relative;
}

header {
	position: relative;
	z-index: 9999;
	.logo {
		position: absolute;
		padding: 1px 0 0 4px;
	/*	&:before {
			content: '';
			position: absolute;
			top: -440px;
			left: -290px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 230px 300px 230px;
			border-color: transparent transparent $col_white transparent;
			transform: rotate(-38deg);
			opacity: 0;
		}*/
		img {
			transform-origin: center;
			transform: scale(0);
			width: 93px;
		}
		&.show {
			img {
				animation-name: bumpin;
				animation-duration: .75s;
				animation-timing-function: ease;
				animation-delay: .55s;
				animation-iteration-count: 1;
				animation-direction: normal;
				animation-fill-mode: forwards
			}
			&::before {
				transition: all 1s ease-in-out;
				opacity: 1;
				top: -145px;
			}
		}
		@keyframes bumpin {
			0% { transform: scale(0,0); }
			65%   {transform: scale(1.1,1.1); }
			100% {transform: scale(1,1);
			}
		}
	}
	.nav_global {
		
		
	}
}
footer {
	padding: 38px 0 47px;
}
.section {
	>a {
		display: block;
	}
	.btn_default {
		display: table;
		margin: 0 auto;
		font-family: 'Vollkorn', serif;
		font-size: rem(16.8);
		font-style: italic;
		color: $col_white;
		border: solid 1px $col_white;
		background: transparent;
		max-width: 254px;
		display: block;
		height: 36px;
		line-height: 36px;
		text-align: center;
		cursor: pointer;
		&.btn_black {
			color: $col_black;
			border-color: $col_black;
		}
	}

	.section_content {
		
	}
}

.animated {
	opacity: 1!important;
}